// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder.
// Just copy a variable from src/sass/bootstrap4/_variables.scss, paste it here and edit the value.

// site colors
$primary: #0f75bd; // Thats a sample how you could change a BootStrap variable.
$secondary: #1b252f;
$warning: #f8bf3a;
$dark: #233040;
$info: #12517c;
$muted: #787878;
$body-bg: #f7f7f7;
$navbar-nav-link-padding-x: 0;
$navbar-light-hover-color: $primary;

// Grid
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1010px
);

// Global borders
$border-width: 2px;
$input-border-radius: 0;

// Button borders radius
$btn-border-radius: 2px;
$btn-border-radius-lg: $btn-border-radius;
$btn-border-radius-sm: $btn-border-radius;

// Button fonts
$btn-font-family: 'Raleway', sans-serif;

//
$navbar-light-color: #333;
