// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here

.topbar nav > a {
  color: $white;
  border: 1px solid $white;
  border-radius: 0;
  margin-right: 1rem;
  padding: 0 0.25rem;
}
.topbar nav > a:last-child {
  margin-right: 0;
}
.topbar nav > a:hover {
  color: $warning;
}

// .icons-section-img > div:hover {
//   background-color: $white;
//   box-shadow: $box-shadow;
// }

body {
  font-family: 'Open Sans', sans-serif;
}
// .main-menu--site {}
// .main-menu--site li {
// }
.main-menu--site li a {
  text-transform: uppercase;
  font-size: 13px;
}

// Hero
.homepage-hero {
  background-image: url(../img/hero.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.homepage-hero .heading-title:after {
  position: absolute;
  content: ' ';
  bottom: 0;
  left: 0;
  border-bottom: 1px solid $dark;
  width: 15%;
}
.heading-title {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  margin-top: 0.45rem;
  margin-bottom: 1rem;
}
.heading-title-icon {
  background-image: url(../img/title-arrow.png);
  background-repeat: no-repeat;
  min-width: 57px;
  min-height: 24px;
  display: inline-block;
  overflow: hidden;
}

@media (max-width: 568px) {
  .custom-logo-link > img {
    width: 60%;
  }
}

@media (max-width: 768px) {
  .custom-logo-link > img {
    width: 80%;
  }
}

.icons-section-img img {
  max-height: 80px;
}

.newsletter-left--text > div {
  background-image: url(../img/logo_white_bg.png);
  background-position: center left;
  background-size: auto;
  background-repeat: no-repeat;
}

.section-bg blockquote {
  position: relative;
  z-index: 1;
}
.section-bg {
  background-image: url(../img/citacao_bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 70%;
  min-height: 100%;
  position: relative;
  padding: 4rem 0;
}
.section-bg:after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(29, 43, 56, 0.9);
  opacity: 0.9;
}

@media (max-width: 568px) {
  .main-menu--site {
    margin-top: 1rem;
    padding: 1rem;
    background-color: #fff;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.05);
  }
  .main-menu--site:before {
    content: '';
    display: inline-block;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid #ccc;
    border-bottom-color: #fff;
    position: absolute;
    top: 113px;
    left: 310px;
    right: auto;
    bottom: auto;
  }
  .main-menu--site li {
    border-bottom: 2px solid #f7f7f7;
  }
  .main-menu--site li:last-child {
    border-bottom: 0;
  }
  .main-menu--site li a {
    padding: 1rem 0;
  }
  // .main-menu--site li a:after {
  //   background-image: url(../img/menu-arrow-right.svg);
  //   width: 32px;
  //   height: 32px;
  //   position: absolute;
  //   content: ' ';
  //   top: auto;
  //   bottom: auto;
  //   left: auto;
  //   right: 24px;
  // }
  .main-menu--site li a:active {
    color: $primary !important;
  }
}

@media (min-width: 768px) {
  li.main-menu--buscar {
    border-left: 1px solid #333;
  }
}

// .main-menu--searchWrap {
//   transition: all 0.2s ease-in;
// }

// Posts Sidebar
#right-sidebar .widget_archive .widget-title,
#right-sidebar .widget_categories .widget-title,
#right-sidebar .widget_recent_entries .widget-title {
  @extend .text-uppercase;
  font-weight: bold;
  @extend .heading-title;
  font-size: 1.5rem;
  color: $dark;
}
#right-sidebar .widget_archive ul,
#right-sidebar .widget_categories ul,
#right-sidebar .widget_recent_entries ul {
  @extend .list-unstyled;
  @extend .mb-4;
}
#right-sidebar .widget_archive ul li,
#right-sidebar .widget_categories ul li,
#right-sidebar .widget_recent_entries ul li {
  @extend .border-bottom;
}
#right-sidebar .widget_archive ul li:last-child,
#right-sidebar .widget_categories ul li:last-child,
#right-sidebar .widget_recent_entries ul li:last-child {
  border-bottom: 0 !important;
}
#right-sidebar .widget_archive ul li a,
#right-sidebar .widget_categories ul li a,
#right-sidebar .widget_recent_entries ul li a {
  font-size: 14px;
  display: block;
  line-height: 1.5;
  margin: 0.45rem 0;
}

@media (min-width: 768px) {
  .main-menu--site li a {
    border-top: 3px solid transparent;
    margin: 0 1rem;
    transition: all 0.1s ease-out;
    -moz-transition: all 0.1s ease-out;
  }
  .main-menu--site li a:hover
  //.navbar-light .navbar-nav .active > .nav-link {
 {
    border-top: 3px solid $primary;
    transition: none;
    color: $primary !important;
  }
}

.site-posts--featured-image img {
  width: 100%;
}

// Footer Menu
.main-menu--footer .menu {
  @extend .nav;
  @extend .justify-content-center;
}
.main-menu--footer .menu li {
  @extend .nav-item;
}
.main-menu--footer .menu li a {
  @extend .nav-link;
  text-transform: uppercase;
  font-size: 13px;
  color: $white;
}
.main-menu--footer .menu li a:hover {
  color: $warning;
}

// Scroll to top
.scrollTop {
  position: fixed;
  right: 2%;
  bottom: 10px;
  background-color: $primary;
  padding: 3px 10px;
  opacity: 0;
  transition: all 0.2s ease-in-out 0s;
  z-index: 9999;
}
.scrollTop a {
  font-size: 1rem;
  color: #fff;
  text-decoration: none;
}

.site-footer--logo {
  text-align: center;
}
.site-footer--address {
  color: $white;
}
@media (min-width: 768px) {
  .site-footer--logo {
    border-right: 1px solid $white;
    display: flex;
    align-items: center;
  }
}

.site-footer--address-social nav > a {
  color: $white;
  border: 1px solid $white;
  border-radius: 0;
  margin-right: 1rem;
  padding: 0 0.45rem;
  font-size: 1.5rem;
}
.site-footer--address-social nav > a:hover {
  color: $warning;
}

// Fix Ajax Loader
.wpcf7 .ajax-loader {
  display: none !important;
}

// Footer
@media (min-width: 992px) {
  .site-footer .container {
    max-width: 60em;
    margin: 0 auto;
  }
}

// Quem Somos
#quemSomos--avatar img {
  max-height: 320px;
  filter: grayscale(80%);
  -ms-filter: grayscale(80%);
  position: relative;
}
#quemSomos--avatar img:hover {
  opacity: 0.3;
}
#quemSomos--avatar img.active {
  opacity: 0.3;
}
#quemSomos--avatar .avatar-nome {
  position: absolute;
  top: 80%;
  bottom: 50%;
  margin-left: 0.45rem;
  color: $dark !important;
  display: none;
  text-transform: uppercase;
}
#quemSomos--avatar:hover .avatar-nome {
  display: block;
}
#quemSomos--avatar figure {
  margin-bottom: 0 !important;
}
